table {
    position: sticky;
    overflow-y: auto;
    width: 75%;
    background-color: rgb(38, 176, 101);/*háttérszín*/
    color: rgb(255, 255, 255); /*betűszín*/
    font-family: 'Arial'; /*betűtípus*/
    font-size: 30px;
    border-collapse:separate;
    border:solid black 1px;
    border-radius:6px;
}
td:first-child, th:first-child {
    border-left: none;
}