table {
    width: 90%;
    background-color: #1a8000;/*háttérszín*/
    color: rgb(255, 255, 255); /*betűszín*/
    font-family: 'Arial'; /*betűtípus*/
    font-size: 30px;
}
tr:nth-child(even) {
    background-color: #0f490f;
  }
  #ido{
    color:#0f490f
  }
  #aunkunft{
    font-size: 17px;
  }
  #arrivals{
    font-size: 17px;
  }
  #erkezovonatok{
    font-size: 22px;
  }