table {
    width: 80%; /*weboldal szélessége*/
    background-color: #1a8000;/*háttérszín*/
    color: rgb(255, 255, 255); /*betűszín*/
    font-family: 'Calibri'; /*betűtípus*/
    font-size: 30px;
}
tr:nth-child(even) {
    background-color: #0f490f;
  }