table {
    width: 90%;
    background-color: #13a044;/*háttérszín*/
    color: rgb(255, 255, 255); /*betűszín*/
    font-family: 'Arial'; /*betűtípus*/
    font-size: 30px;
}
tr:nth-child(even) {
    background-color: #184a05;
  }
  #ido{
    color:#0f490f
  }
  #aunkunft{
    font-size: 17px;
    background-color: #184a05;
  }
  #arrivals{
    font-size: 17px;
    background-color: #184a05;
  }
  #erkezovonatok{
    font-size: 22px;
    background-color: #184a05;
  }
  #logo{
    background-color: #184a05;
  }
  #masodiksor{
    
  }